html
	head
		title Chat it up
		style
			include ../style/style.css
		script(src='js/socket.io.1.7.3.min.js')
		script(src='js/jquery-3.1.1.js')
		script.
			var userName = '#{name}';
			var port = #{port};
		script
			include ../js/chat.js
	body
		div(id='page-body')
			div(id='conversation')
				each message in messages
					div(class='message')
						div(class='message-row')
							div(class='user-name')= message.user + ':'
							div(class='message-text')= message.text
						div(class='message-time')= message.time
			div(id='send-message-container')= create
				span= name
				input(id='message-input')
				input(type='hidden' id='user-id' value=id)
				button(type='submit' id='send-message') Send
			div(id='add-node-container')
				span Add a friend's url!
				input(id='other-url')
				button(type='submit' id='add-friend') Add
