html
	head
		title Chat it up
		style
			include ../style/style.css
		script.
			var userName = '#{name}';
		script
			include ../js/jquery-3.1.1.js
			include ../js/chat.js
	body
		div(id='page-body')
			div(id='conversation')
				each message in messages
					div(class='message')
						div(class='message-row')
							div(class='user-name')= message.user + ':'
							div(class='message-text')= message.text
						div(class='message-time')= message.time
			div(id='send-message-container')= create
				span= name
				input(id='message-input')
				input(type='hidden' id='user-id' value=id)
				button(type='submit' id='send-message') Send
